{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}


    <div style="width: 100%">
        <div class="row" style="width: 100%">
            <div class="col-2 m-4" >
                <nav class="nav flex-column">
                    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">

                        <a class="navbar-brand" href="#">Outils</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                            <a class="nav-link " href="{{ path('home') }}">Notifications</a>
                            <a class="nav-link " href="{{ path('logout') }}">Deconnections</a>
                        </nav>
                        <a class="navbar-brand" href="#">Chantier</a>
                        <nav class="nav nav-pills flex-column">
                            {% for project in projects %}
                                {% if project == projectshow %}
                                    <a class="nav-link active" href="{{ path('projectShow', {id : project.id }) }}">{{ project.adresse}}</a>
                                    <nav class="nav nav-pills flex-column">
                                        <a class="nav-link ms-3 my-1" href="{{ path('projectImg', {id : project.id }) }}">Image</a>
                                        <a class="nav-link ms-3 my-1" href="{{ path('cardAll', {id : project.id }) }}">Rapport</a>
                                    </nav>
                                {% else %}

                                    <a class="nav-link" href="{{ path('projectShow', {id : project.id }) }}">{{ project.adresse}}</a>

                                {% endif %}
                            {% endfor %}
                        </nav>
                    </nav>
                </nav>
            </div>
            <section class="col-9">
                    <legend>Formaulire d'un Rapport</legend>
                    <p>{{ projectshow.adresse }}</p>

                    {{ form_start(formCard) }}

                    <input class="btn btn-primary" type="submit" value="Envoyé">

                    {{ form_end(formCard) }}
            </section>
        </div>
    </div>

{% endblock %}
