{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% form_theme formProject 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div style="width: 100%">
        <div class="row" style="width: 100%">
            <div class="col-2 m-4" >
                <nav class="nav flex-column">
                    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
                        <a class="navbar-brand" href="#">Outils</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link active" href="{{ path('home') }}">Accueil</a>
                            <a class="nav-link " href="{{ path('home') }}">Notifications</a>
                            <a class="nav-link " href="{{ path('logout') }}">Deconnections</a>
                        </nav>
                        <a class="navbar-brand" href="#">Chantier</a>
                        <nav class="nav nav-pills flex-column">

                            {% for project in projects %}
                                <a class="nav-link" href="{{ path('projectShow', {id : project.id }) }}">{{ project.adresse}}</a>
                            {% endfor %}
                        </nav>
                    </nav>
                </nav>
            </div>
            <section class="col-9">
                {{ form_start(formProject) }}

                <div class="form-control">
                    {{ form_label(formProject.adresse, 'Adresse du chantier') }}
                    {{ form_widget(formProject.adresse) }}

                    {{ form_label(formProject.client, 'Nom du client') }}
                    {{ form_widget(formProject.client) }}

                    {{ form_label(formProject.img, 'Image') }}
                    {{ form_widget(formProject.img) }}

                    <div class="row">

                        <div class="col-6">
                            {{ form_label(formProject.datestart, 'Date de début') }}
                            {{ form_widget(formProject.datestart) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(formProject.dateend, 'Date de Fin') }}
                            {{ form_widget(formProject.dateend) }}
                        </div>

                    </div>

                    <style>
                         #project_datestart_time_hour,
                         #project_datestart_time_minute,
                         #project_dateend_time_hour,
                         #project_dateend_time_minute,
                         span.input-group-text
                         {
                            display: none;
                        }
                    </style>

                    <br>

                    <input class="btn btn-primary" style="width: 100%" type="submit" value="Créer">

                </div>

                {{ form_end(formProject) }}
            </section>
        </div>
    </div>

{% endblock %}
