{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <div style="width: 100%">
        <div class="row" style="width: 100%">
            <div class="col-2 m-4" >
                <nav class="nav flex-column">
                    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
                        <a class="navbar-brand" href="#">Outils</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link active" href="{{ path('home') }}">Accueil</a>
                            <a class="nav-link " href="{{ path('home') }}">Notifications</a>
                            <a class="nav-link " href="{{ path('logout') }}">Deconnections</a>
                        </nav>
                        <a class="navbar-brand" href="#">Chantier</a>
                        <nav class="nav nav-pills flex-column">

                            {% for project in projects %}
                                <a class="nav-link" href="{{ path('projectShow', {id : project.id }) }}">{{ project.adresse}}</a>
                            {% endfor %}
                        </nav>
                    </nav>
                </nav>
            </div>
            <section class="col-9">
                <div class="container">
                    <h5 class="py-5 text-center ">Coucou {{ user.firstname | capitalize }}</h5>


                    <p>Sur le bouton si tu dessus du peut créer ton chantier</p>
                    <a class="btn btn-primary" href="{{ path('projectCreate') }}">Creer un chantier</a>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
